.container{
    background: url(../lynce%20logo%20final%20blue%20corte.jpg) top center no-repeat;
    background-size: contain;
    padding: 12em;
}
.page-header{
    border: none;
}
h1,h2{
    margin-top: 1em;
}
.text-muted{
    margin-bottom: 3em;
}